/*
   dxTLStr.rc
   Developer Express Visual Component Library
   Express grid string resource
*/

STRINGTABLE
{
// dxTreeList & dxDBgrid strings
  38801, "Неверный владелец TdxTreeListNode"
  38802, "Скрытые поля"
  38803, "Подтверждение";
  38804, "Удалить запись ?"
  38805, "Удалить все выбранные записи ?"
  38806, "%s: Колонка поля ''%s'' не найдена"
  38807, "Перетащите сюда за заголовок колонку для группировки"
  38808, "Dataset в режиме редактирования/вставки"

  38809, "    Секции    "
  38810, "   Заголовки   "
  38811, "DefaultFields свойство должно быть установлено как False"
  38812, "Неверное имя группы !"
  38813, "Группа с таким именем уже существует !"
}


