<html>

<head>
<title>Процедуры и функции RX lib</title>
<meta name="author1" content="Владимир Яковенко, email: jakov@asu.farlep.net">
<meta name="author2" content="Вадим Дорофеев, email: dvasoft@chat.ru">
<meta name="description" content="Список функций библиотеки RXLibrary с кратким описанием на русском языке. Версия 1.10">
</head>

<body>

<font face="Arial">

<b>Соддержание (по модулям):</b>

<p><a href="#apputils">AppUtils</a>
<br><a href="#bdeutils">BDEUtils</a>
<br><a href="#boxprocs">BoxProcs</a>
<br><a href="#clipicon">ClipIcon</a>
<br><a href="#dateutil">DateUtil</a>
<br><a href="#dbfilter">DBFilter</a>
<br><a href="#dbutils">DBUtils</a>
<br><a href="#fileutil">FileUtil</a>
<br><a href="#maxmin">MaxMin</a>
<br><a href="#parsing">Parsing</a>
<br><a href="#pickdate">PickDate</a>
<br><a href="#rxgraph">RxGraph</a>
<br><a href="#rxhook">RxHook</a>
<br><a href="#rxmenus">RxMenus</a>
<br><a href="#rxshell">RxShell</a>
<br><a href="#speedbar">SpeedBar</a>
<br><a href="#splshwnd">SplshWnd</a>
<br><a href="#strutils">StrUtils</a>
<br><a href="#vclutils">VclUtils</a>

<hr>


<p><a name="apputils"></a><b>AppUtils unit:</b>

<p><i>AppBroadcast</i></i> - Функция посылает сообщение Msg всем формам приложения.
<p><i>FindForm</i> - Функция перебирает формы приложения, проверяя для каждой из них, является лиона экземпляром класса FormClass
<p><i>FindShowForm</i> - Функция перебирает формы приложения, проверяя для каждой из них, является ли она экземпляром класса FormClass
<p><i>GetDefaultIniName</i> - Функция возвращает имя INI-файла "по умолчанию" для приложения.
<p><i>GetDefaultIniRegKey</i> - Функция возвращает имя ключа регистрационной базы данных Windows (Registry) "по умолчанию" для приложения
<p><i>GetDefaultSection</i> - Функция возвращает строку для указанной компоненты Component,
<p><i>GetUniqueFileNameInDir</i> - Возвращает уникальное для заданного каталога имя файла, InstantiateForm- функция создает экземпляр формы типа FormClass
<p><i>ReadFormPlacement</i> - Процедура ReadFormPlacement используется для восстановления формы
<p><i>RestoreFormPlacement</i> - Процедура RestoreFormPlacement используется для восстановл. формы
<p><i>RestoreGridLayout</i> - Восстанавливает из INI-файла ширины колонок компонент TCustomGrid
<p><i>RestoreMDIChildren</i> - Создает и показывает MDIChild-формы как они были сохранены SaveMDIChildren
<p><i>SaveFormPlacement</i> - Процедура используется для сохранения состояния формы
<p><i>SaveGridLayout</i> - Сохраняет в INI-файле ширины колонок компонент, порожденных от TCustomGrid
<p><i>SaveMDIChildren</i> - Сохраняет в INI-файле состав и свойства открытых MDIChild форм.
<p><i>ShowDialog</i> - Создание и модальное исполнение диалога
<p><i>WriteFormPlacement</i> - Процедура используется для сохранения состояния формы,

 
<p><a name="apputils"></a><b>BdeUtils unit</b>:

<p><i>AsyncQrySupported</i> - Функция возвращает True, если драйвер специфицированной базы данных Database поддерживает асинхронное выполнение запросов
<p><i>CheckOpen</i> - Функция служит для обрамления вызовов функций BDE API, открыв. курсоры
<p><i>ConvertStringToLogicType</i> - Процедура предназначена для конвертации строки Value в BDE,
<p><i>CurrentRecordDeleted</i> - Функция определяет, является ли текущая запись набора данных удаленной (помеченной как удаленная) или нет
<p><i>DataSetFindValue</i> - Функция пытается установить набор данных, переданный в качестве параметра DataSet, на первую от начала запись, удовлетворяющую заданному условию
<p><i>DataSetPositionStr</i> - Для драйверов DBase и Paradox функция возвращает строку, содержащую текущий номер записи и полное число записей в DataSet
<p><i>DataSetRecNo</i> - Функция возвращает номер текущей записи в DataSet.
<p><i>DataSetShowDeleted</i> - Процедура устанавливает режим показа удаленных записей в таблицах формата DBase.
<p><i>DeleteRange</i> - Удаление диапазона записей из таблицы.
<p><i>ExecuteQuery</i> - Процедура предназначена для выполнения SQL-запросов
<p><i>ExportDataSet</i> - Процедура служит для экспорта данных из таблицы БД или результата запроса Source в выходную таблицу DestTable.
<p><i>FieldLogicMap</i> - Функция возвращает для конкретного значения FldType получить для целочисленное значение, идентифицирующее логический тип данных BDE.
<p><i>GetAliasPath</i> - Функция возвращает физический путь для алиаса (псевдонима) BDE
<p><i>GetBDEDirectory</i> - Функция возвращает имя каталога, в котором установлены библиотеки BDE InitRSRun - Инициализация RUNTIME ReportSmith.
<p><i>IsBookmarkStable</i> - Возвращает True, если заданный DataSet поддерживает постоянные закладки
<p><i>PackTable</i> - Процедура предназначена для "упаковки" таблиц формата DBase и Paradox
<p><i>RestoreIndex</i> - Восстанавливает свойство IndexFieldNames у Table
<p><i>SetIndex</i> -Устанавливает свойство IndexFieldNames у Table
<p><i>SetToBookmark</i> - Функция устанавливает ADataSet в позицию, соответствующую переданному значению ABookmark
<p><i>TransActive</i> - Функция определяет, имеет ли база данных Database активную транзакцию и в этом случае возвращает True, в противном случае результат - False.

 

<p><a name="boxprocs"></a><b>BoxProcs unit:</b>

<p><i>BoxDragOver</i> - Предполагается вызывать из обработчика события OnDragOver.
<p><i>BoxMoveAllItems</i> - Копирует все элементы SrcList в DstList, затем очищает SrcList.
<p><i>BoxMoveFocusedItem</i> - Предполагается использовать в обработчике события OnDragDrop.
<p><i>BoxMoveSelectedItems</i> - Перемещает выделенные элементы из SrcList в DstList

 

<p><a name="clipicon"></a><b>ClipIcon unit:</b>

<p><i>AssignClipboardIcon</i> - Процедура заполняет иконку Icon данными из буфера обмена (Clipboard)
</i><p><i>CopyIconToClipboard</i> - Функция помещает в Clipboard данные в формате CF_ICON из иконки, переданной в качестве параметра Icon.
<p><i>CreateIconFromClipboard</i> - Функция создает объект класса TIcon, если буфер обмена (Clipboard) содержит данные в формате CF_ICON.
<p><i>CreateRealSizeIcon</i> - Функция создает иконку из объекта Icon класса TIcon
<p><i>DrawRealSizeIcon</i> - Функция рисует иконку Icon на устройстве Canvas,
<p><i>GetIconSize-</i> Процедура возвращает ширину и высоту иконки,

 

<p><a name="dateutil"></a><b>DateUtil unit:</b>

<p><i>CutTime</i> - Устанавливает время в переданном аргументе ADate в значение 00:00:00:00.
<p><i>DateDiff</i> - Определяет разницу между датами, заданными Date1 и Date2 в днях, месяцах и годах.
<p><i>DaysBetween</i> - Вычисляет число дней между датами Date1 и Date2,
<p><i>DaysInPeriod</i> - Вычисляет число дней между датами Date1 и Date2
<p><i>DaysPerMonth</i> - Функция возвращает число дней в месяце для указанного года
<p><i>DefDateFormat</i> - Функция возвращает строку формата даты по ShortDateFormat,
<p><i>DefDateMask</i> - Функция возвращает строку маски для ввода даты
<p><i>FirstDayOfNextMonth</i> - Возвращает первый день следующего месяца относительно текущей даты как TDateTime
<p><i>FirstDayOfPrevMonth</i> - Возвращает первый день предыдущего месяца относительно текущей даты как TDateTime
<p><i>GetDateOrder</i> - Функция возвращает порядок расположения дня, месяца и года в формате даты,
<p><i>IncDate</i> - Увеличивает дату ADate на заданное количество дней, месяцев и лет, возвращая полученную дату как результат.
<p><i>IncDay</i> - Увеличивает дату  на заданное количество дней, возвращая полученную датуIncHour
<p><i>IncMinute</i> - Увеличивает время на заданное количество минут, возвращая полученное время IncMonth
<p><i>IncMSec</i> - Увеличивает время ATime на заданное количество миллисекунд
<p><i>IncSecond</i> - Увеличивает время ATime на заданное количество секунд
<p><i>IncTime</i> - Увеличивает время на заданное количество часов, минут, сек и мс, возвращая  время IncYear
<p><i>IsLeapYear</i> - Проверяет является ли заданный параметром AYear год високосным.
<p><i>LastDayOfPrevMonth</i> -Возвращает последний день предыдущего месяца относительно текущей даты как TDateTime.
<p><i>MonthsBetween</i> - Функция вычисляет число месяцев между двумя датами.
<p><i>StrToDateDef</i> - Функция преобразует строку в дату в соответствии с форматом ShortDateFormat
<p><i>StrToDateFmt</i> - Функция преобразует строку в дату в соответствии с форматом DateFormat.
<p><i>StrToDateFmtDef</i> - В отличие от функции StrToDateFmt в случае ошибки преобразования возвращает значение по умолчанию, переданное как параметр Default.
<p><i>ValidDate</i> - Функция определяет, представляет ли собой аргумент ADate действительное значение существующей даты.

 

<p><a name="dbfilter"></a><b>DBFilter unit:</b>

<p><i>DropAllFilters</i> - Процедура деактивирует все фильтры, установленные ранее на набор данных DataSet, и освобождает захваченные ими ресурсы.

 

<p><a name="dbutils"></a><b>DBUtils unit:</b>

<p><i>AssignRecord</i> - Процедура предназначена для копирования значений полей из текущей записи набора данных Source в поля текущей записи набора данных Dest,
<p><i>CheckRequiredField</i> - Процедура проверяет заполнение поля Field значением, отличным от NULL
<p><i>ConfirmDataSetCancel</i> - Процедура проверяет, находится ли переданный набор данных DataSet в режиме вставки или замены, модифицированы ли данные текущей записи, и если да, то запрашивает, надо ли сохранять сделанные изменения.
<p><i>ConfirmDelete</i> - Функция вызывает появление диалога с запросом подтверждения на удаление записи, аналогичного диалогу, появляющемуся у TDBGrid.
<p><i>DataSetSortedSearch</i> - Функция пытается установить набор данных, переданный в качестве параметра , на первую от начала запись, удовлетворяющую заданному условию
<p><i>FormatAnsiSQLCondition</i> - Функция сходна по назначению и результатам с FormatSQLCondition
<p><i>FormatSQLCondition</i> - Функция возвращает строковое выражение, соответствующее записи логического условия на языке SQL. Используется, в основном, для подстановки параметров (макросов) TRxQuery.
<p><i>FormatSQLDateRange</i> - Возвращает логическое условие для языка SQL нахождения значения поля, заданного FieldName в интервале, заданном Date1 и Date2. Учитываются особые случаи:
<p><i>RefreshQuery</i> - Процедура "обновляет" данные для набора данных
<p><i>RestoreFields</i> - Процедура восстанавливает из INI-файла IniFile аттрибуты полей набора данных, заданного в DataSet.
<p><i>SaveFields</i> - Процедура сохраняет в INI-файле IniFile аттрибуты полей набора данных, заданного в DataSet.

 

<p><a name="fileutil"></a><b>FileUtil unit:</b>

<p><i>BrowseComputer</i> - Показывает диалог и позволяет пользователю выбрать сетевой компьютер.
<p><i>BrowseDirectory</i> - Показывает диалог и позволяет пользователю выбрать папку.
<p><i>ClearDir</i> - Функция удаляет все файлы из каталога Path и его подкаталогов.
<p><i>CopyFile</i> - Функция предназначена для копирования файла FileName в файл с именем DestName.
<p><i>DeleteFiles</i> - Удаляет все файлы, заданные маской FileMask. 
<p><i>DeleteFilesEx</i> - Удаляет все файлы, заданные масками FileMasks. 
<p><i>DirExists</i> - Определяет, существует ли заданная папка.
<p><i>FileDateTime</i> - Функция возвращает дату и время создания файла FileName.
<p><i>FileLock</i> - Блокирует определённую область файла от доступа другими процессами.
<p><i>FileUnlock</i> - Разблокирует заблокированную область файла.
<p><i>GetFileSize</i> - Функция возвращает размер в байтах файла, заданного параметром FileName.
<p><i>GetSystemDir</i> - Возвращает путь к системному каталогу Windows (System/)
<p><i>GetTempDir</i> - Возвращает путь к каталогу с временными файлами.
<p><i>GetWindowsDir</i> - Возвращает путь к каталогу Windows.
<p><i>HasAttr</i> - Функция возвращает True, если файл FileName имеет аттрибут Attr.
<p><i>LongToShortFileName</i> - Преобразует длинное имя файла к стандарту 8.3
<p><i>LongToShortPath</i> - Преобразует длинное имя папки к стандарту 8.3
<p><i>MoveFile</i> - Процедура перемещает или переименовывает FileName в файл с именем DestName.
<p><i>NormalDir</i> - Функция служит для нормализации имени каталога с '\'
<p><i>ShortToLongFileName</i> - Преобразует имя файла стандарта 8.3 к длинному имени
<p><i>ShortToLongPath</i> - Преобразует имя папки стандарта 8.3 к длинному имени
<p><i>ValidFileName</i> - Функция определяет, является ли имя, переданное как параметр FileName, допустимым именем файла.

 

<p><a name="maxmin"></a><b>MaxMin unit:</b>

<p><i>Max</i> - Функция Max возвращает наибольшее целое число из двух целочисленных параметров A, B.
<p><i>MaxFloat</i> - Функция MaxFloat возвращает наибольшее число из массива действительных чисел.
<p><i>MaxInteger</i> - Функция MaxInteger возвращает наибольшее число из массива целых чисел 
<p><i>MaxOf</i> - Функция MaxOf возвращает наибольшее значение из массива значений Values
<p><i>Min</i> - Функция Min возвращает наименьшее целое число из двух целочисленных параметров A, B. 
<p><i>MinFloat</i> - Функция MinFloat возвращает наименьшее число из массива действительных чисел Values. 
<p><i>MinInteger</i> - Функция MinInteger возвращает наименьшее число из массива целых чисел Values. 
<p><i>MinOf</i> - Функция MixOf возвращает наименьшее значение из массива значений Values (variant)
<p><i>SwapInt</i> - Процедура взаимно заменяет значения двух аргументов Int1 и Int2 между собой.
<p><i>SwapLong</i> - Процедура взаимно заменяет значения двух аргументов Int1 и Int2 между собой. 

 

<p><a name="parsing"></a><b>Parsing unit:</b>

<p><i>GetFormulaValue</i> - функция вычисляет результат математического выражения, заданного параметром Formula. Для вычислений используется объект типа TRxMathParser.

 

<p><a name="pickdate"></a><b>PickDate unit:</b>

<p><i>PopupDate</i> - Функция PopupDate вызывает появление диалога выбора даты
<p><i>SelectDate</i> - Функция SelectDate позволяет пользователю выбрать дату, используя диалог выбора даты с календарем и кнопками навигации
<p><i>SelectDateStr</i> - Функция полностью аналогична функции SelectDate, за исключением того, что значение даты передается в нее в виде строки.

 

<p><a name="rxgraph"></a><b>RxGraph unit:</b>

<p><i>BitmapToMemory</i> - Функция создает поток в памяти и записывает туда данные графического изображения Bitmap, при этом уменьшая число цветов в изображении до значения, заданного параметром Colors.
<p><i>GetBitmapPixelFormat</i> - Функция определяет формат пикселя (число бит на пиксель), используемый при отрисовке битового изображения ABitmap. 
<p><i>GrayscaleBitmap</i> - This procedure transforms a color bitmap image into grayscale
<p><i>SaveBitmapToFile</i> - Процедура позволяет сохранить графическое изображение объекта Bitmap в файле FileName формата *.BMP.
<p><i>SetBitmapPixelFormat</i> - Процедура позволяет изменить число цветов (бит на пиксель), используемое для отрисовки битового изображения ABitmap

 

<p><a name="rxhook"></a><b>RxHook unit:</b>

<p><i>FindVirtualMethodIndex</i> - Функция находит индекс виртуального метода объекта класса AClass по адресу метода MethodAddr.
<p><i>GetVirtualMethodAddress</i> - Функция возвращает адрес виртуального метода класса AClass по его индексу Index.
<p><i>SetVirtualMethodAddress</i> - Функция меняет адрес виртуальныго метода, заданного индексом Index.

 

<p><a name="rxmenus"></a><b>RxMenus Unit:</b>
<p><i>SetDefaultMenuFont</i> - Процедура устанавливает параметры шрифта AFont в значения, совпадающие со значениями параметров шрифта, используемого Windows для отрисовки пунктов меню.

 

<p><a name="rxshell"></a><b>RxShell unit:</b>

<p><i>FileExecute</i> - Запускает заданный файл (программу или документ)
<p><i>FileExecuteWait</i> - Функция полностью аналогична функции FileExecute, но в отличие от нее приостанавливает выполнение вызвавшего ее потока до завершения запущенного приложения.
<p><i>IconExtract</i> - Функция создает объект класса TIcon из ресурсов исполнимого файла FileName
<p><i>WinAbout</i> - Процедура вызывает стандартное диалоговое окно "About" системы MSWindows.

 

<p><a name="speedbar"></a><b>Speedbar Unit:</b>
<p><i>FindSpeedBar</i> - Функция определяет, является ли верхним оконным объектом Windows в точке, заданной экранными координатами Pos, компонента класса TSpeedbar.

 

<p><a name="splshwnd"></a><b>SplshWnd Unit:</b>
<p><i>ShowSplashWindow</i> - Функция создает и отображает форму без заголовка с установленным стилем fsStayOnTop, которую можно использовать как заставку при загрузке приложения или при выполнении длительных операций

 

<p><a name="strutils"></a><b>StrUtils unit:</b>

<p><i>AddChar</i> - Добавляет слева к стpоке S символы C до длины S=N.
<p><i>AddCharR</i> - Добавляет справа к стpоке S символы C до длины S=N.
<p><i>AnsiProperCase</i> - Возвращает строку, каждое слово которой начинается с заглавной буквы, остальные символы - строчные.
<p><i>CenterStr</i> - Центpитует стpоку S относительно длины Len.
<p><i>CompStr</i> - Сравнивает строки S1 и S2 (с учетом регистра)
<p><i>CompText</i> - Сравнивает строки S1 и S2 (без учета регистра)
<p><i>Copy2Space</i> - Копирует с начала строки до первого пробела.
<p><i>Copy2SpaceDel</i> - Копирует с начала строки до первого пробела и удаляет эту часть
<p><i>Copy2Symb</i> - Копирует с начала строки S до первого символа Symb и возвращает эту часть исходной строки.
<p><i>Copy2SymbDel</i> - Копирует с начала строки S до первого символа Symb, возвращает эту часть строки и удаляет ее из исходной строки S.
<p><i>Dec2Hex</i> - Пpеобpазует целое число N в шестнадцатеричное число, дополняя слева нулями до длины A.
<p><i>Dec2Numb</i> - Пpеобpазует целое число N в число по основанию B, дополняя слева нулями до длины A.
<p><i>DelBSpace</i> - Функция удаляет ведущие пpобелы из стpоки S.
<p><i>DelChars</i> - Функция даляет все символы Сhr из строки S.
<p><i>DelESpace</i> - Функция удаляет конечные пpобелы из стpоки S.
<p><i>DelRSpace</i> - Функция удаляет начальные и конечные пpобелы из стpоки S.
<p><i>DelSpace</i> - Функция удаляет все пробелы из строки.
<p><i>DelSpace1</i> - Функция удаляет все, кpоме одного, пpобелы из стpоки S.
<p><i>ExtractDelimited</i> - Функция аналогична функции ExtractWord
<p><i>ExtractQuotedString</i> - Удаляет символы цитаты из начала и конца строки.
<p><i>ExtractSubstr</i> - Функция предназначена для выделения подстроки из строки S, если подстроки разделены символами из набора Delims.
<p><i>ExtractWord</i> - Выделяет N-ое слово из строки S, используя WordDelims (типа TCharSet) как разделитель между словами.
<p><i>ExtractWordPos</i> - Выделяет N-ое слово из строки S, используя WordDelims (типа TCharSet) как разделитель между словами
<p><i>FindCmdLineSwitch</i> - Определяет, есть ли в командной строке ключи (начинающиеся с '-', '/', ...)
<p><i>FindPart</i> - Функция FindPart сравнивает строку, содержащую символы '?', с другой строкой, и возвращает позицию HelpWilds в InputStr.
<p><i>GetCmdLineArg</i> - GetCmdLineArg определяет, имеется ли параметр Switch среди параметров командной строки, переданных в приложение, и возвращает значение этого параметра
<p><i>Hex2Dec</i> - Пpеобpазует шестнадцатеpичное число в стpоке S в целое десятичное.
<p><i>IntToRoman</i> - Преобразует значение в строку, содержащую римскую запись числа.
<p><i>IsEmptyStr</i> - Функция возвращает True, если строка S содержит только символы из EmptyChars.
<p><i>IsWild</i> - Функция IsWild сравнивает строку InputString со строкой WildCard, содержащей символы маски, и возвращает True, если строка InputStr соответствует маске.
<p><i>IsWordPresent</i> - Определяет, присутствует ли слово W в строке S, используя символы WordDelims как возможные разделители между словами.
<p><i>LeftStr</i> - Добавляет строку S до длины N справа.
<p><i>MakeStr</i> - Фоpмиpует стpоку из N символов C.
<p><i>MS</i> - Фоpмиpует стpоку из N символов C.
<p><i>Npos</i> - Ищет позицию N-го вхождения подстроки C в стpоке S.
<p><i>Numb2Dec</i> - Пpеобpазует число по основанию B в стpоке S в целое десятичное.
<p><i>Numb2USA</i> - Пpеобpазует числовую стpоку S к фоpмату США. Напpимеp: 
<br>Входная  стpока: '12365412'; 
<br>Выходная стpока: '12,365,412'.
<p><i>OemToAnsiStr</i> - Переводит строку из DOS-кодировки в Windows-кодировку.
<p><i>QuotedString</i> - Возвращает данную строку с символами цитаты.
<p><i>ReplaceStr</i> - Функция заменяет в строке S все вхождения подстроки Srch на подстроку, переданную в качестве аргумента Replace.
<p><i>RightStr</i> - Добавляет строку S до длины N слева.
<p><i>RomanToInt</i> - Преобразует строку, содержащую римскую запись числа, в целое значение.
<p><i>StrToOem</i> - Конвертирует переданную в качестве аргумента AnsiStr строку (в ANSI-кодировке Windows) в кодировку OEM.
<p><i>Tab2Space</i> - Преобразует знаки табуляции в строке S в Numb пробелов.
<p><i>WordCount</i> - Считает число слов в строке S, используя параметр WordDelims (типа TCharSet) как разделитель между словами.
<p><i>WordPosition</i> - Возвращает позицию первого символа N-го слова в строке S, используя параметр WordDelims (типа TCharSet) как разделитель между словами.



<p><a name="vclutils"></a><b>VCLUtils unit:</b>

<p><i>ActivatePrevInstance</i> - Функция ActivatePrevInstance предназначена для активизации предыдущей копии приложения
<p><i>ActivateWindow</i> - Процедура ActivateWindow активизирует окно Windows, обработчик которого специфицируется параметром Wnd.
<p><i>AllocMemo</i> - Функция предназначена для динамического выделения блока памяти размером Size.
<p><i>AnsiUpperFirstChar</i> - Функция приводит к верхнему регистру первый символ в переданной строке S, используя набор символов ANSI.
<p><i>AssignBitmapCell</i> - Процедура копирует прямоугольную область из картинки Source в битовое изображение Dest,
<p><i>CenterControl</i> - Процедура центрирует элемент управления Control относительно "родителя"
<p><i>CenterWindow</i> - Процедура центрирует окно Wnd на экране дисплея.
<p><i>ChangeBitmapColor</i> - создает новое графическое изображение, являющееся копией переданного, однако заменяя цвет всех точек изображения,
<p><i>CompareMem</i> - Функция CompareMem сравнивает содержимое двух блоков памяти
<p><i>CopyParentImage</i> - Процедура копирует в заданный контекст устройства Dest изображение,
<p><i>CreateBitmapFromIcon</i> - Функция создает новый объект класса TBitmap, содержащий графическое изображение из иконки.
<p><i>CreateIconFromBitmap</i> - Функция создает новый объект класса TIcon, содержащий графическое изображение из битового изображения.
<p><i>CreateRotatedFont</i> - Создает "наклонный" шрифт
<p><i>CreateTwoColorsBrushPattern</i> - Функция создает битовое изображение, состоящее из точек двух цветов: Color1 и Color2, чередующихся в шахматном порядке.
<p><i>DefineCursor</i> - Загружает курсор из ресурса исполняемого модуля и определяет его уникальный индекс в массиве курсоров Screen.Cursors.
<p><i>Delay</i> - Процедура вызывает задержку выполнения программы на заданное параметром MSecs число миллисекунд.
<p><i>DialogUnitsToPixelsX</i> - Функция преобраз. диалоговые единицы в пиксели по горизонтали.
<p><i>DialogUnitsToPixelsY</i> - Функция преобраз. диалоговые единицы в пиксели по вертикали.
<p><i>DrawBitmapRectTransparent</i> - Процедура DrawBitmapRectTransparent рисует на устройстве Dest прямоугольный участок графического изображения
<p><i>DrawBitmapTransparent</i> - Процедура DrawBitmapTransparent рисует на устройстве Dest графическое изображение Bitmap
<p><i>DrawCellBitmap</i> - Процедура DrawCellBitmap предназначена для отрисовки битового изображения Bmp
<p><i>DrawCellText</i> - для отрисовки строки текста S в ячейке объекта - наследника TCustomGrid.
<p><i>DrawInvertFrame</i> - Процедура рисует на экране инвертированную рамку, определяемую координатами ScreenRect
<p><i>FreeMemo</i> - Процедура освобождает память, выделенную функцией AllocMemo.
<p><i>FreeUnusedOLE</i> - В 32-разрядной версии библиотеки процедура выгружает библиотеки OLE2.
<p><i>GetEnvVar</i> - Возвращает значение переменной окружения DOS, заданной параметром VarName.
<p><i>GetMemoSize</i> - Функция GetMemoSize возвращает размер блока памяти, выделенного функцией AllocMemo.
<p><i>GetWindowsVersion</i> - Функция возвращает версию Windows в виде строки, содержащей название платформы и номер версии операционной системы.
<p><i>GradientFillRect</i> - Процедура GradientFillRect рисует прямоугольник Rect на устройстве Canvas, цвет которого плавно изменяется от BeginColor до EndColor в направлении Direction.
<p><i>HeightOf</i> - Функция возвращает высоту (в пикселях) переданного прямоугольника R.
<p><i>HugeDec</i> - Уменьшает дальний указатель.
<p><i>HugeInc</i> - Увеличивает дальний указатель.
<p><i>HugeMove</i> - Копирует область памяти, заданную дальним указателем.
<p><i>HugeOffset</i> - Добавляет смещение к дальнему указателю.
<p><i>ImageListDrawDisabled</i> - Процедура рисует изображение из списка Images, заданное индексом Index, на устройстве Canvas с координатами X, Y
<p><i>IsForegroundTask</i> - Функция проверяет, является ли приложение, вызвавшее эту функцию, текущей активной (foreground) задачей Windows.
<p><i>KillMessage</i> - Удаляет требуемое сообщение без обработки.
<p><i>LoadAniCursor</i> - Загружает анимированный курсор из exe- или dll-модуля.
<p><i>LoadDLL</i> - Функция загружает динамическую библиотеку или модуль, заданный именем LibName.
<p><i>MakeBitmap</i> - Функция создает объект класса TBitmap из ресурса вашего приложения.
<p><i>MakeBitmapID</i> - Функция создает объект класса TBitmap из ресурса вашего приложения.
<p><i>MakeIcon</i> - Функция создает объект класса TIcon из ресурса вашего приложения.
<p><i>MakeIconID</i> - Функция создает объект класса TIcon из ресурса вашего приложения.
<p><i>MakeModuleBitmap</i> - Функция создает объект класса TBitmap из ресурса любого загруженного модуля (исполняемого файла или DLL)
<p><i>MakeModuleIcon</i> - Функция создает объект класса TIcon из ресурса любого загруженного модуля (исполняемого файла или DLL).
<p><i>MergeForm</i> - Процедура предназначена для вставки обычной формы AForm (например, созданной в дизайнере и загруженной из DFM-файла) в элемент управления AControl.
<p><i>MinimizeText</i> - Эта функция может быть использована для того, чтобы сократить текстовую строку Text до длины, позволяющей отобразить ее целиком на устройстве Canvas на участке длиной MaxWidth.
<p><i>MsgBox</i> - Функция представляет собой оболочку стандартной функции Windows API MessageBox, только в качестве параметров принимает не PChar, а строки в формате языка Pascal.
<p><i>NotImplemented</i> - Процедура вызывает появление диалогового окна с сообщением "Функция не реализована" ("Function not yet implemented").
<p><i>PaintInverseRect</i> - Процедура инвертирует прямоугольник на экране, определенный координатами.
<p><i>PixelsToDialogUnitsX</i> - Функция преобр пиксели в диалоговые единицы по горизонтали.
<p><i>PixelsToDialogUnitsY</i> - Функция преобр пиксели в диалоговые единицы по вертикали.
<p><i>PointInPolyRgn</i> - Функция возвращает True, если точка с координатами P расположена внутри региона, ограниченного фигурой с вершинами, заданными набором точек Points.
<p><i>PointInRect</i> - Функция возвращает True, если точка с координатами P расположена внутри прямоугольника R.
<p><i>RegisterServer</i> - Функция предназначена для регистрации в Windows элементов управления OLE (OCX, ActiveX)
<p><i>ResourceNotFound</i> - Процедура предназначена для вывода сообщения об ошибке (с генерацией исключения EResNotFound) при ошибке загрузки ресурса из исполняемого файла.
<p><i>ShadeRect</i> - Процедура служит для "штриховки" прямоугольника Rect
<p><i>SplitCommandLine</i> - Процедура SplitCommandLine разделяет командную строку запуска любой программы на имя исполняемого файла и строку параметров.
<p><i>StartWait</i> - Процедура StartWait меняет изображение курсора мыши на экране на то, которое определено типизированной константой WaitCursor (по умолчанию crHourGlass), и увеличивает счетчик вызовов StartWait на 1.
<p><i>StopWait</i> - Процедура StopWait восстанавливает изображение курсора мыши на экране по умолчанию, если оно было изменено процедурой StartWait.
<p><i>WidthOf</i> - Функция возвращает ширину (в пикселях) переданного прямоугольника R.
<p><i>Win32Check</i> - Процедура предназначена для использования при вызове функций Win32 API, возвращающих значение типа BOOL, которое определяет, успешно ли   выполнилась функция Win32 API.

<body>

</html>
